.main-chat
  .main-header
    .main-header__group
      .main-header__group__name 
        = @group.name
      .main-header__group__memberlist 
        .member Member :     
        .name   
          - @group.users.each do |user|
            = user.name
          
    
    .main-header__edit 
      = link_to edit_group_path(@group), class: "edit" do
        Edit
  .main-messagefield
    = render @messages
  .main-form
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .main-form__box
        = f.text_field :content, class:'message-form',placeholder:'type a message'
        = f.label :image,class:'image'do
          = icon('fas', 'image',class: "imageicon")
          = f.file_field :image, class:'file'
      = f.submit 'Send',class:'send'