.side-bar
  .sideheader
    .sideheader__list
      %p.sideheader__name 
        = current_user.name
      %ul.sideheader__iconlist
        %li.sideheader__icon 
        = link_to new_group_path, method: :get, class:"sideheader__btn" do
          = icon('far','edit', class: "sideheader__btn--icon")
        %li.sideheader__icon 
        = link_to edit_user_path(current_user), class:"sideheader__btn" do
          = icon('fas','cog', class: "sideheader__btn--icon")
  .side-bar__grouplist
    - current_user.groups.each do |group|
      .side-bar__groups
        = link_to '#' do
          .side-bar__groups--name 
            = group.name
          .side-bar__groups--message
            メッセージはまだありません
    